@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|zocial);

@mixin icon ($size){
    color:white;
    height: $size;
    width: $size;
    background-color:black;
    border:none;
    border-radius: 4px;
}


* {
  margin:0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}
.container {
  // width: 1000px;
}

header {
  display: flex;
  height: 140px;
  justify-content: space-around;
  padding-left:40px;
  padding-right:40px;
  align-items: center;

}

  .header-left {
    // border:1px solid lightblue;
    display: flex;
    // height:115px;
    // width: 210px;
    //
    // // display: block;
    // margin:0;
    // padding:0px;
    // float: left;
    // background-color:white;
    // margin-top:15px;

  }
      img.logo {
      height: auto;
      width: 200px;
      border: none;
      position: absolute;
    }
      .logoText {
      color: #4dbfef;
      font-size:22px;
      font-weight: bolder;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      position: relative;
      line-height: 5.4;
      text-align: center;
    }

    .header-right {
      border:1px solid lightgreen;
      background-color:#f5f5f5;
      display:flex;
      align-items: center;
      // height:75px;
      // width: 200px;
      //
      // // line-height: 50px;
      // float: right;
      // margin-top:35px;
      // text-align: center;
    }
      .socialMediaText {
        font: 15px bold black;
        line-height: 2;

      }
      .mediaIcons {
        // height:auto;
        // width:5px;
        // line-height: 3;
      }

          /* entypo/Facebook */
          .entypo-facebook:before {
            font-family: 'entypo', sans-serif;
          }

          /* zocial /Twitter */
          .zocial-twitter:before {
            font-family: 'zocial', sans-serif;
          }
          /* brandico /Instagram*/
          .brandico-instagram:before {
            font-family: 'brandico', sans-serif;
          }

          button.entypo-facebook, button.zocial-twitter, button.brandico-instagram {
            @include icon (32px)
          }
//horizontal line
.top::before {
    background: lightgrey;
    content: "";
    display: block;
    height: 1px;
}

.top {
  margin-left: 40px;
  margin-right:40px;
}

  //restarant picture
    .box3 {
      width:700px;
      height:auto;
      margin-top: 20px;
      margin-left:auto;
      margin-right:auto;
    }
      .box3 img {
        width: 100%;
        height: 100%;
      }

    //Box 4 + 5 + 6 : Three Middleboxes below Image/
    //stationary
    .middle {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      h1 {
        font-size: 1em;
      }
      .newsTitle {
        font-weight: bold;
        font-size:1em;
//news title: date
        span {
          padding-left:18px;
        }
      }
//news title body
      .blog {
        font-size:12px;
      }

    }



//latest News / Specials/ locations
    .box4, .box5 , .box6 {
      border:1px solid grey;
      width:325px;
      min-height:240px;
      margin-right: 15px;
      text-align: center;
    }
      // h7-1, h7-2, h7-3, h7-4 {
      //   font: 25px bold black;
      // }

      .menuTab, .storyTab {
        font-size: 10px;
      }

      .storyTab {
        font-size: 10px;
      }


//Lower Section
.lower {
  margin-left:40px;
  margin-right:40px;
  margin-top:20px;

//the accordian tabs /// story/menu/res/games
  .box7 {
    display:flex;
    justify-content:center;

//inside box7
    .tabs {
      display: block;
      border: 1px solid lightgrey;
      margin-left:40px;
      margin-right:20px;
      width:800px;
      min-height:500px;
        .title {
          font:25px bold black;
          text-align:center;
        }
        #storyTab {
          background-color:lightyellow;
            p {
              font-size:10px;
            }
            img {
              height:200px;
              width:auto;
              border:none;
            }
        }
        #menuTab  {
          background-color: lightgrey;
            .content-menu {
              font-size:10px;
            }
        }
        #reservationsTab {
          background-color:lightpurple;
              .content-reservations {

              }

        }
        #gamesTab {
          background-color:lightgreen;
            .content-games {
              font-size:10px;
            }
        }
    }
  }
  .box8 {
      height:250px;
      width:250px;
      margin-right:40px;
      border:1px solid lightgrey;
   }
}
.switchTab {
  display: none;
}
.tab {
  overflow:hidden;
  max-height: 100px;

  transition:max-height 1.0s ease-in-out;

}




//footer (of course)
footer::before {
    background: lightgrey;
    content: "";
    display: block;
    height: 2px;
    }

footer {
  margin-left:40px;
  margin-right:40px;
  height:50px;
  // background-color: lightseagreen;
  color:red;
  font-size:11px;
  margin-top:11px;
  font-family:'Open Sans Condensed', sans-serif;
  font-weight:200;
  line-height:4;
  }



footer ::after {
  content:"\00a9 2016 el Restaurante";
}
