@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|zocial);

@mixin icon ($size){
    color:white;
    height: $size;
    width: $size;
    background-color:black;
    border:none;
    border-radius: 4px;
}
@mixin iconClick ($size){
    height: $size;
    width: $size;
}

* {
  margin:0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("http://htc-wallpaper.com/wp-content/uploads/2013/10/metal-texture21.jpg?982602");
  background-size: cover;
}
.container {
  // width: 1000px;
  background: rgba(192,192,192, 0.6);
  margin: 3% 5%;
}

header {
  display: flex;
  height: 140px;
  justify-content: space-between;
  padding-left:40px;
  padding-right:40px;
  align-items: center;

}

  .header-left {
    display: flex;
  }
      img.logo {
      height: auto;
      width: 200px;
      border: none;
      position: absolute;
    }
      .logoText {
      color: rgb(170,0,0);
      font-size:22px;
      font-weight: bolder;
      text-shadow: -1px 0 rgb(71,0,0), 0 1px rgb(71,0,0), 1px 0 rgb(71,0,0), 0 -1px rgb(71,0,0);
      position: relative;
      line-height: 5.4;
      text-align: center;
    }
    .header-right {
      display:flex;
      align-items: center;
    }

          /* entypo/Facebook */
          .entypo-facebook:before {
            font-family: 'entypo', sans-serif;
          }

          /* zocial /Twitter */
          .zocial-twitter:before {
            font-family: 'zocial', sans-serif;
          }
          /* brandico /Instagram*/
          .brandico-instagram:before {
            font-family: 'brandico', sans-serif;
          }

          button.entypo-facebook, button.zocial-twitter, button.brandico-instagram {
            @include icon (32px)
          }

          .zocial-twitter:hover{
            color: #0eebf2;
            background: none;
            transition: 0.5s;
          }
          .brandico-instagram:hover{
            color: #dd3412;
            background: none;
            transition: 0.5s;

          }
          .entypo-facebook:hover{
            background-color:#111cc8;
            transition: 0.5s;
          }


//horizontal line
.top::before {
    background: black;
    content: "";
    display: block;
    height: 2px;
}

.top {
  margin-left: 40px;
  margin-right:40px;
}

  //restarant picture
    .box3 {
      width:700px;
      height:auto;
      margin-top: 20px;
      margin-left:auto;
      margin-right:auto;
    }
      .box3 img {
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 20px black;
      }

    //Box 4 + 5 + 6 : Three Middleboxes below Image/
    //stationary boxes :news/special/location
    .middle {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      h1 {
        font-size: 1em;

      }
      .newsTitle {
        font-weight: bold;
        font-size:1em;
//news title: date
        span {
          padding-left:18px;
        }
      }
//news title body
      .blog {
        font-size:12px;
      }

    }

    h1::after {
        background: black;
        content: "";
        display: block;
        height: 1px;
        width: 94%;
        margin:auto;
    }


//latest News / Specials/ locations
    .box4, .box5 , .box6 {
      border:1px solid grey;
      background: rgba(34, 34, 34, 0.27);
      width:325px;
      height:250px;
      margin-right: 15px;
      padding-left:10px;
      padding-right:10px;
      padding-bottom:10px;
      text-align: justify;
    }

    .box4 {
      overflow: scroll;
      text-overflow: ellipsis;
    }
//specials
    .box5 {
        img {
          margin-left:10%;
        }
      .menuItem {
        font-size:11px;
        word-spacing: 1px;

          .food, .beer {
              font-weight: bold;
            }
          span {
            float:right;
          }
      }
    }

//Lower Section
.lower {
  display: flex;
  margin-left:40px;
  margin-right:40px;
  margin-top:20px;
  width:1000px;

//the accordian tabs /// story/menu/res/games
  .box7 {
    display:flex;
    justify-content:center;

//inside box7
    .tabs {
      display: block;
      margin-left:40px;
      margin-right:20px;
      width:700px;
      min-height:400px;


          .title {
            font:25px bold black;
            // text-align:center;
            border-left:1px solid black;
            border-right:1px solid black;
            border-top:1px solid black;
          }
          .title:hover {
            background: rgba(34, 34, 34, 0.27);
            color:white;
          }
        #storyTab {
          padding:10px;
          text-align: justify;
            p {
              font-size:18px;
              line-height: 24px;
              word-spacing: 2px;
            }
            img {
              height:400px;
              width:auto;
              border:none;
              margin-left:11%;
            }
        }
        #menuTab  {
          padding:10px;

            .foodTitle {
              margin-top:30px;
              font-weight: bolder;
            }

            .foodTitle::after {
                  background: black;
                  content: "";
                  display: block;
                  height: 1px;
                  margin-top: 15px;
            }

            .content-menu, .beer-menu {
              font-size:14px;
              // line-height: 2;
              word-spacing: 1px;
            }
            .menuItem {
              margin-top:15px;
              margin-bottom: 15px;

                .food, .beer {
                  font-weight: bold;

                  span {
                    float:right;
                  }
//food icons
                  .entypo-flash:before {
                      font-family: 'entypo', sans-serif;
                  }
                  .entypo-heart:before {
                      font-family: 'entypo', sans-serif;
                  }
                  .entypo-leaf:before {
                      font-family: 'entypo', sans-serif;
                  }

                }
            }


        }
        #reservationsTab {
          padding:10px;
          line-height: 2;
          word-wrap: 0px;
          margin-left: 5px;
          margin-top: 40px;

              .content-reservations {

              }

        }
        #gamesTab {
          padding:10px;
          // background-color:rgba(36,124, 67, 0.57);

            .content-games {
              font-size:14px;
              word-spacing: 1px;

              .menuItem {
                margin-top:15px;
                margin-bottom: 15px;
                  .games {
                      font-weight: bold;
                    }


                  span {
                      float:right;
                    }
              }
            }
        }
    }
  }

  .beerIcon {
    height:16px;
    width: 14px;
  }
.tab {
  background: rgba(34, 34, 34, 0.27);
  margin-top: 40px;
}

/////////////////
//we should work on the hover, and add something where the current tab goes to
//border-bottom: white;"
////////////////


  //photos of food section
  .box8 {
      width:250px;
      margin-right:40px;
      h1 {
        font-size: 19px;
        text-align: center;
      }
      img {
        border:1px solid darkgreen;
        margin:2px;
      }

   }
}
.switchTab {
  display: none;
}
.tab {
  overflow:hidden;
  transition:max-height 1.0s ease-in-out;

}

.none {
  display: none;
}


//footer (of course)
footer::before {
    background: black;
    content: "";
    display: block;
    height: 2px;
    }

footer {
  margin-left:40px;
  margin-right:40px;
  height:50px;
  // background-color: lightseagreen;
  color:black;
  font-size:14px;
  margin-top:11px;
  font-family:'Open Sans Condensed', sans-serif;
  font-weight:200;
  line-height:4;
  }



footer ::after {
  content:"\00a9 2016 Brews on Board";
}


// /* fontawesome */
// .fontawesome-beer:before {
//   font-family: 'FontAwesome', sans-serif;
// }
